# This lists the things that should not be synchronised over git

# R
.Rhistory
.Rapp.history
.Ruserdata
.Rproj.user
.RData

# Stata dataset and output files
*.dta
*.gph
*.log
*.smcl
*.stpr
*.stsem

# Other data
*data*.txt
*.tex

# plots
plots/*

# macOS Finder display preferences
.DS_Store
